.itemsContainer {
    color: white;
    width: 90%;
    text-align: left;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    min-height: 200px;
}

.itemsContainer:empty {
    display: none;
}