.itemsContainer {
    color: white;
    width: 90%;
    text-align: left;
    padding: 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; 
    margin-left: 130px;
}